@namespace ICEBG.Client.Components

<h2>Time is @time</h2>
<h2>Duration is @duration</h2>
<h3>Count1 is @count</h3>
<h3>Count2 is @count2</h3>
@if (configuration == null)
{
    <h2>Loading...</h2>
}
else
{
    @if (configuration.pSuccess)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Success</b></td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><b>Key</b></td>
                    <td>@configuration.pResult.Id</td>
                </tr>
                <tr>
                    <td><b>Server version</b></td>
                    <td>@configuration.pResult.ServerVersion</td>
                </tr>
                <tr>
                    <td><b>pResult</b></td>
                    <td>@configuration.pResult.Configuration</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Success</b></td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><b>pError</b></td>
                    <td>@configuration.pError</td>
                </tr>
            </tbody>
        </table>
    }
}
