@page "/host"
@namespace ICEBG.Web.UserInterface.Pages
@using HttpSecurity.AspNet
@using ICEBG.Client
@using ICEBG.Web.UserInterface
@using ICEBG.Web.UserInterface.Services
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpSecurityService HttpSecurityService

@{
    RenderMode RenderMode = PlatformDetermination.kIsBlazorServer ? RenderMode.ServerPrerendered : RenderMode.WebAssemblyPrerendered;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICEBG (UserInterface)</title>

    <base href="~/" />

    <link href="_content/ICEBG.Client/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="_content/ICEBG.Client/images/favicon.ico" rel="icon" type="image/x-icon">

    <link href="_content/Material.Blazor/material.blazor.min.css" integrity="@HttpSecurityService.GetFileHashString("material.blazor.min.css")" rel="stylesheet" />
    <link href="_content/ICEBG.Client/css/icebg.min.css" integrity="@HttpSecurityService.GetFileHashString("icebg.min.css")" rel="stylesheet" />

    <link rel="icon" type="image/png" href="_content/ICEBG.Client/pwa/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="_content/ICEBG.Client/pwa/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="_content/ICEBG.Client/pwa/favicon-96x96.png" sizes="96x96">

    <link rel="apple-touch-icon" sizes="512x512" href="_content/ICEBG.Client/ios-images/512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="_content/ICEBG.Client/ios-images/192.png" />

    @if (PlatformDetermination.kIsBlazorServer)
    {
        <link rel="manifest" href="_content/ICEBG.Client/pwa/manifest.json" />
    }

    <component type="typeof(HeadOutlet)" render-mode="@RenderMode" />
</head>

<body>
    <!-- SSE -->
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @if (PlatformDetermination.kIsBlazorServer)
    {
        <script src="_framework/blazor.server.js" nonce="@HttpSecurityService.GetNonce()"></script>
    }
    else
    {
        <script src="_framework/blazor.webassembly.js" integrity="@HttpSecurityService.GetFileHashString("blazor.webassembly.js")"></script>
    }

    <script src="_content/GoogleAnalytics.Blazor/googleanalytics.blazor.js" integrity="@HttpSecurityService.GetFileHashString("googleanalytics.blazor.js")"></script>
    <script src="_content/Material.Blazor/material.blazor.min.js" integrity="@HttpSecurityService.GetFileHashString("material.blazor.min.js")"></script>

</body>
</html>
