@namespace ICEBG.Client

@inherits LayoutComponentBase

@using Material.Blazor

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

<div class="opti-main">

    <div class="opti-main-appbar">
        <MBMenu ButtonIconDescriptor="@MBIcon.IconDescriptorConstructor(
                                    name: "menu",
                                    color: "white")"
                ButtonIconIsTrailing="false"
                ButtonLabel="ICEBG"
                ButtonLabelColor="white"
                ButtonStyle="@MBButtonStyle.Outlined"
                MenuItems="@menuItems" />
    </div>

    <div class="opti-main-body">
        @*         <CascadingValue IsFixed="true"
        Value="@pOptimiserDefaults">
        *@
    </div>
    @Body
    @*         </CascadingValue>
    *@
</div>


@* 
<Material.Blazor.MD2.MBDrawer @ref="@Drawer"
                              IsDismissible="true">

    <nav class="mdc-list">
        <Material.Blazor.MD2.MBListItem LeadingIcon="home" Label="Home" @onclick="@(() => ListItemClickHandler(""))" />
        <Material.Blazor.MD2.MBListItem LeadingIcon="error" Label="Consume resources" @onclick="@(() => ListItemClickHandler("consumeresources"))" />
        <Material.Blazor.MD2.MBListItem LeadingIcon="assignment" Label="GRPC configuration" @onclick="@(() => ListItemClickHandler("configuration"))" />
        <Material.Blazor.MD2.MBListItem LeadingIcon="table_chart" Label="REST weather" @onclick="@(() => ListItemClickHandler("weather"))" />
        <Material.Blazor.MD2.MBListItem LeadingIcon="info" Label="About" @onclick="@(() => ListItemClickHandler("about"))" />
    </nav>
</Material.Blazor.MD2.MBDrawer>
*@

<CookieConsentBanner ColorClass="dw-yellow" />
