@namespace ICEBG.Client

@inherits LayoutComponentBase

@using Material.Blazor
@using Material.Blazor.MenuClose

<div class="opti-main-appbar">
    <MBMenu AnchorType="MBMenuAnchorType.Icon"
            IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                    name: "menu",
                                    color: "darkblue")"
            MenuItems="@menuItems"
            MenuPositioning="MBMenuPositioning.Popover"
            @onmenuselectionreport="MenuSelectionReportHandler" />
    <MBMenu AnchorType="MBMenuAnchorType.Icon"
            IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                    name: "more_vert",
                                    color: "darkblue")"
            MenuItems="@menuItems"
            MenuPositioning="MBMenuPositioning.Popover"
            @onmenuselectionreport="MenuSelectionReportHandler" />
</div>

<CascadingValue Value="@this" IsFixed="true">
    <div class="opti-main-body" style="margin:50px;">
        @Body
    </div>
</CascadingValue>

<CookieConsentBanner ColorClass="dw-yellow" />
